/* .container {
    width: 420px;
    padding: 20px;
    margin: 50px auto;
}

h1 {
    text-align: center;
}

input {
    width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 380px;
    padding: 12px;
    background-color: #d3d3d3;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
    margin-left: 32px;
} */
