.dashboard-container {
    padding: 20px;
    background-color: #f9f9f9;
}

.dashboard-title {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.budget-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.budget-input {
    width: 250px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.budget-warning {
    color: red;
    font-size: 14px;
}

.transaction-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.transaction-input, .transaction-select {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.transaction-button {
    width: 320px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.transaction-button:hover {
    background-color: #45a049;
}

.transaction-list {
    margin-bottom: 20px;
}

.transaction-item {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transaction-delete-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.transaction-delete-button:hover {
    background-color: darkred;
}

.chart-container {
    width: 50%;
    height: 300px;
    margin: 0 auto;
}


.chart-section {
    margin-top: 30px;
}

h3 {
    margin-bottom: 10px;
    color: #333;
}
